.navbar-light {
  background-color: whitesmoke;
}

.navbar {
  padding: 3px;
}

#logo {
  margin: 3px;
}

#registerButton{
  background-color: white;
}

#registerButton:hover{
  background-color: #10AFD1;
  color: whitesmoke;
}
