<div class="container mt-5">
  <div class="row pt-2">
    <div class="col-lg-10 offset-md-1">
      <form (ngSubmit)="onSubmit()">
        <h2 class="form-title">Add author</h2>
        <br>
        <div class="form-group">
          <label for="firstName">First name:</label>
          <input type="text" class="form-control" id="firstName"
                 [(ngModel)]="author.firstName" name="first" placeholder="Enter author's first name">
        </div>
        <div class="form-group">
          <label for="lastName">Last name: </label>
          <input type="text" class="form-control" id="lastName"
                 [(ngModel)]="author.lastName"  name="last" placeholder="Enter author's last name">
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Date of Birth: </label>
          <input type="date" class="form-control" id="dateOfBirth"
                 [(ngModel)]="author.dateOfBirth" name="date" placeholder="dd/mm/yyyy">
        </div>
        <br>
        <button type="submit" class="btn btn-info">Save author</button>
      </form>
    </div>
  </div>
</div>
